{%  extends 'base_template.html' %}


{% block content %}


          <!--blog section start-->
        <section class="our-blog-section ptb-100 gray-light-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="section-heading mb-5">
                            <h2>Nos Actualités & Blog</h2>
                            <hr>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-4">
                        <div class="single-blog-card card border-0 shadow-sm">
                            <span class="category position-absolute badge badge-pill badge-primary">{{ post.category }}</span>
                            <img src="{{ post.image.url }}" class="card-img-top position-relative" alt="blog">
                            <div class="card-body">
                                <div class="post-meta mb-2">
                                    <ul class="list-inline meta-list">
                                        <li class="list-inline-item">{{ post.date_publication }}</li>
                                        <li class="list-inline-item"><span></span> {{ post.auteur }}</li>
                                    </ul>
                                </div>
                                <h3 class="h5 card-title"><a href="{% url 'detail' slug=post.slug %}">{{ post.titre }}</a></h3>
                                <p class="card-text">{{ post.contenu|safe|truncatewords:20 }}</p>
                                <a href="{% url 'detail' slug=post.slug %}" class="detail-link">Lire Plus <span class="ti-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>
        </section>
        <!--blog section end-->



{% endblock %}

