
 {%  extends 'base_template.html' %}


{% block content %}

    <div class="main">

        <!--hero section start-->
        <section class="hero-slider-section">
            <div class="owl-carousel owl-theme hero-slider-one custom-dot dot-right-center">
                <div class="item">
                    <div class="gradient-overly-right hero-equal-height ptb-100" style="background: url('/static/assets/img/hero-bg7.jpg')no-repeat center center / cover">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-8">
                                    <div class="hero-content-wrap text-white position-relative z-index">
                                        <h1 class="text-white">Bienvenue chez BEKA INGENIERIE</h1>
                                        <p class="lead">BEKA INGENIERIE est une entreprise dynamique et innovante, opérant
                                            dans le bâtiment et les infrastructures, illustrant notre flexibilité et notre capacité d'adaptation aux divers enjeux et besoins de nos clients</p>
                                        <div class="action-btns mt-4">
                                            <a href="#" class="btn solid-white-btn mr-3">Qui sommes-nous?</a>
                                            <a href="#" class="btn outline-white-btn">Notre processus métier</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="gradient-overly-right hero-equal-height ptb-100" style="background: url('/static/assets/img/hero-bg-4.jpg')no-repeat center center / cover">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-8">
                                    <div class="hero-content-wrap text-white">
                                        <h1 class="text-white">Une approche de design thinking en réponse à l'incertitude </h1>
                                        <p class="lead">BEKA INGENIERIE se distingue par son implication dans des projets d’envergure,
                                            marquant le paysage de l'ingénierie avec innovation et expertise. Nos réalisations,
                                            fruits d’une synergie entre technicité, créativité et savoir-faire, témoignent
                                            de notre capacité à relever des défis de grande ampleur.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="gradient-overly-right hero-equal-height ptb-100" style="background: url('/static/assets/img/hero-bg-2.jpg')no-repeat center center / cover">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-9 col-lg-8">
                                    <div class="header-content text-white">
                                        <div class="line"></div>
                                        <h1 class="text-white">BEKA INGENIERIE : Excellence et Innovation au Service de Votre Projet</h1>
                                        <p class="lead">Ensemble, nous œuvrons à la réalisation de vos projets de bâtiement et d'infrastructure avec engagement et expertise, assurant ainsi votre satisfaction et la réussite de vos initiatives.</p>
                                        <div class="action-btns mt-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--hero section end-->



          <!--why choose us section start-->
<section class="why-choose-us ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-8">
                <div class="section-heading mb-5">
                    <h3>Notre secteur d'activité</h3>
                    <p class="lead">Notre secteur d'activité  s'étend du  domaine du bâtiment et des infrastructures, chacun bénéficiant de notre engagement envers l'excellence et l'innovation.
</p>
                </div>
            </div>
        </div>


<div class="row">
    <div class="col-md-4 col-lg-4">
        <a href="#">
            <div class="single-promo-2 custom-shadow single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                <div class="circle-icon">
                    <span class="fas fa-hard-hat text-white"></span> <!-- Icône de casque de chantier -->
                </div>
                <h5>Assistance maître d’ouvrage</h5>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-lg-4">
        <a href="#">
            <div class="single-promo-2 custom-shadow single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                <div class="circle-icon">
                    <span class="fas fa-landmark  text-white"></span>
                </div>
                <h5>Structures</h5>
            </div>
        </a>
    </div>
    <div class="col-md-4 col-lg-4">
        <a href="#">
            <div class="single-promo-2 custom-shadow single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                <div class="circle-icon">
                    <span class="fas fa-fire text-white"></span> <!-- Icône d'extincteur -->
                </div>
                <h5>Coordination des systèmes de sécurité incendie</h5>
            </div>
        </a>
    </div>
</div>
        <br><br>

        <div class="row">
            <div class="col-md-4 col-lg-4">
                <a href="#">
                    <div class="single-promo-2 custom-shadow single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                        <div class="circle-icon">
                            <span class="fas fa-building text-white"></span>
                        </div>
                        <h5>Clos et ouverts</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="#">
                    <div class="single-promo-2 custom-shadow single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                        <div class="circle-icon">
                            <span class="fas fa-wheelchair text-white"></span>
                        </div>
                        <h5>Accessibilité handicapés</h5>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="#">
                    <div class="single-promo-2 custom-shadow single-promo-hover rounded-custom text-center white-bg p-5 h-100">
                        <div class="circle-icon">
                            <span class="fas fa-fire-extinguisher text-white"></span>
                        </div>
                        <h5>Sécurité incendie</h5>
                    </div>
                </a>
            </div>

        </div>


    </div>
</section>
        <!--why choose us section end-->















        <!--meet our team carousel style start-->
        <section class="our-team-section ptb-100 gray-light-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-8">
                        <div class="section-heading text-center mb-5">
                            <h2>Les projets suivis par le président</h2>
                            <p>BEKA INGENIERIE se distingue par son implication dans des projets d’envergure, marquant le paysage de l'ingénierie avec innovation et expertise</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="owl-carousel owl-theme team-member-carousel custom-dot dot-bottom-center">
                                                    {% for projet in projets %}

                            <div class="item">
                                <div class="staff-member">
                                    <div class="card text-center">
                                        <img src="{{ projet.image.url }}" alt="team image" class="" width="600" height="300">

                                    </div>
                                    <div class="overlay d-flex align-items-center justify-content-center">
                                        <div class="overlay-inner">
                                            <a href="{% url 'services:detail' slug=projet.slug %}" class="teacher-name">
                                                <h5 class="mb-0 teacher text-white">{{ projet.title }}</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        </div>
                    </div>


                </div>
            </div>
        </section>
        <!--meet our team carousel style end-->






          <!--blog section start-->
        <section class="our-blog-section ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="section-heading mb-5">
                            <h2>Actualités & Blog</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for post in posts %}
                    <div class="col-md-4">
                        <div class="single-blog-card card border-0 shadow-sm">
                            <span class="category position-absolute badge badge-pill badge-primary">Lifestyle</span>
                            <img src="{{ post.image.url }}" class="card-img-top position-relative" alt="blog">
                            <div class="card-body">
                                <div class="post-meta mb-2">
                                    <ul class="list-inline meta-list">
                                        <li class="list-inline-item">{{ post.date_publication }}</li>
                                    </ul>
                                </div>
                                <h3 class="h5 card-title"><a href="{% url 'detail' slug=post.slug %}">{{ post.titre }}</a></h3>
                                <a href="{% url 'detail' slug=post.slug %}" class="detail-link">Lire Plus <span class="ti-arrow-right"></span></a>
                            </div>
                        </div>
                    </div>
                     {% endfor %}
                </div>
                    <a href="{% url 'blog' %}" class="detail-link">TOUTES NOS ACTUALITÉS <span class="ti-arrow-right"></span></a>

            </div>
        </section>



          <!--testimonial and review section start-->
        <section class="client-review-section ptb-100 gray-light-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-9 col-lg-8">
                        <div class="section-heading text-center mb-5">
                            <h2>Témoignages de Satisfaction Client</h2>
                            <p class="lead">À BEKA INGENIERIE, la satisfaction de nos clients est au cœur de notre démarche.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for temoin in temoins %}
                    <div class="col-md-6 col-lg-4">
                        <div class="single-testimonial white-bg shadow-sm rounded p-5">
                            <ul class="list-inline ratting-list mb-2">
                                <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                <li class="list-inline-item"><span class="fas fa-star"></span></li>
                                <li class="list-inline-item"><span class="fas fa-star"></span></li>
                            </ul>
                            <div class="ratting-content">
                                <h5>{{ temoin.title }}</h5>
                                <p>{{ temoin.description|safe }}</p>
                            </div>
                            <div class="ratting-author mt-3">
                                <h6>{{ temoin.name }}</h6>
                                <small class="text-right">{{ temoin.date }}</small>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!--testimonial and review section end-->

        <!--blog section end-->
          <section class="client-section ptb-100">
            <div class="container">
                <!--clients logo start-->
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="section-heading text-center mb-1">
                            <h2> Découvrez Nos Partenaires d'Excellence</h2>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="overlay-opacity-gradient"></div>
                        <div class="owl-carousel owl-theme clients-carousel dot-indicator">
                            <div class="item single-client">
                                <img src="/static/assets/img/clients-logo-01.png" alt="client logo" class="img-fluid client-img">
                            </div>
                            <div class="item single-client">
                                <img src="/static/assets/img/clients-logo-02.png" alt="client logo" class="img-fluid client-img">
                            </div>
                            <div class="item single-client">
                                <img src="/static/assets/img/clients-logo-03.png" alt="client logo" class="img-fluid client-img">
                            </div>
                            <div class="item single-client">
                                <img src="/static/assets/img/clients-logo-04.png" alt="client logo" class="img-fluid client-img">
                            </div>
                            <div class="item single-client">
                                <img src="/static/assets/img/clients-logo-05.png" alt="client logo" class="img-fluid client-img">
                            </div>
                            <div class="item single-client">
                                <img src="/static/assets/img/clients-logo-06.png" alt="client logo" class="img-fluid client-img">
                            </div>
                            <div class="item single-client">
                                <img src="/static/assets/img/clients-logo-07.png" alt="client logo" class="img-fluid client-img">
                            </div>
                            <div class="item single-client">
                                <img src="/static/assets/img/clients-logo-08.png" alt="client logo" class="img-fluid client-img">
                            </div>
                        </div>
                    </div>
                </div>
                <!--clients logo end-->
            </div>
        </section>
        <!--client section start-->


 {% endblock %}